@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff'), url('../fonts/opensans.woff2');
    font-weight: 400;
}
/*-----------------------Начало "Общие стили"------------------------*/

/*[type="search"]::-webkit-search-decoration {*/
    /*-webkit-appearance: none;*/
/*}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
button, input {
    outline: none;
    border: none;
}
body {
    margin: 0;
    font-family: 'Open Sans', arial, sans-serif;
}
.template-width {
    max-width: 1024px;
    margin: 0 auto;
}
.inline-block {
    display: inline-block;
}
* {
    /*outline: 1px solid red;*/
}
.justify {
    line-height: 0;
    font-size: 1px;
    text-align: justify;
}
.justify::after {
    display: inline-block;
    content: "";
    width: 100%;
    line-height: 0;
    height: 0;
    font-size: 0;
    margin-top: -1px;
    visibility: hidden;
    overflow: hidden;
}
/*-----------------------Конец "Общие стили"------------------------*/


/*-----------------------Начало блока "header__account-options"------------------------*/
.header__account-options {
    width: 100%;
    background: #4cb1ca;
}
.header__container {
    /*padding: 10px 0;*/
    text-align: justify;
}
.header__options {
    text-align: left;
    line-height: normal;
}
.options {
    max-width: 255px;
    font-size: 13px;
}
.options__choose-lang, .options__choose-currency {
    color: #ffffff;

}
.options__choose-lang {

}

.options__choose-lang::after, .options__choose-currency::after {
    padding-left: 5px;
    display: inline-block;
    content: "";
    width: 9px;
    height: 9px;
    background: url("../img/arrow_down.png") center bottom no-repeat;
}
.header__account-menu {
    max-width: 360px;
    line-height: normal;
}
.options__languages {
    padding-right: 19px;
}
.options__title {
    color: #bef2ff;
    padding-right: 2px;
}
.account-menu {
    width: 100%;
    text-align: justify;
    font-size: 13px;
}
.account-menu__item {
    text-align: center;
    font-size: 13px;
}
.account-menu__link {
    color: #ffffff;
    padding: 12px 10px;
    transition: 0.2s;
}
.account-menu__link:hover {
    color: rgba(154, 226, 244, 0.8);
}
/*.account-menu__item::after {*/
    /*vertical-align: middle;*/
    /*display: inline-block;*/
    /*content: "";*/
    /*width: 1px;*/
    /*margin: 0 15px;*/
    /*height: 11px;*/
    /*background-color: #ffffff;*/
/*}*/


/*-----------------------Конец блока "header__account-options"------------------------*/

/*-----------------------Начало блока "header__navigation"------------------------*/
.header__wrap {
    padding: 29px 0;
}
.header__logo {
    vertical-align: middle;
    line-height: normal;
    margin-right: 41px;
}
.logo {
    color: #656565;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.header__nav {
    vertical-align: middle;
    line-height: normal;
    margin-right: 99px;
}
.top_nav__item {
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.top_nav__link {
    color: #656565;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.14px;
    padding: 9px 11px;
    transition: 0.5s;
    /*border-bottom: 1px solid #656565;*/
}
.top_nav__item:hover {
    border-bottom: 1px solid #656565;
    transition: ease-out 0.5s;
}
.header__search {
    line-height: normal;
    vertical-align: middle;
    margin-right: 8px;
}
.search__form {
    position: relative;
}
.search__field {
    width: 174px;
    height: 29px;
    border: 1px solid #c6c6c6;
    background-color: #ffffff;
    font-size: 13px;
    padding-left: 10px;
    position: relative;
    z-index: 50;
}
.search__field::placeholder {
    color: #b7b7b7;
}
.search__field:focus::placeholder {
    color: transparent;
    transition: 0.2s;
}
.search__btn {
    border: none;
    cursor: pointer;
    width: 29px;
    height: 29px;
    background: transparent url("../img/ico_search.png") center center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 55;
}
.header__purchases {
    line-height: normal;
    width: 150px;
    vertical-align: middle;
}
.header__labels {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    background: url("../img/ico_labels.png") center center no-repeat;
}
.header__busket {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    background: url("../img/ico_busket.png") center center no-repeat;
    margin-right: 11px;
}
.header__busket-count {
    color: #656565;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.14px;
}
/*-----------------------Конец блока "header__navigation"------------------------*/

/*-----------------------Начало блока "slider"------------------------*/
.main-slider {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main-slider__img {
    width: 100%;
    overflow: hidden;
    height: 475px;
    position: relative;
}
.main-slider__img img {
    position: absolute;
    bottom: -200px;
}
.main-slider__controls {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 200px;
}
.main-slider__prev, .main-slider__next {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1) url("../img/slider-control.png") center center no-repeat;
    opacity: 0.5;
    transition: 0.2s;
}
.main-slider__prev {
    transform: rotateZ(180deg);
    margin-left: 121px;
}
.main-slider__next {
    margin-right: 121px;
}
.main-slider__prev:hover, .main-slider__next:hover {
    opacity: 1;
}
.main-slider__item {
    position: relative;
}
.main-slider__descr {
    position: absolute;
    top: 187px;
    left: 236px;
}
.main-slider__title {
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 28px;
    text-transform: uppercase;
    /*font-family: "Open Sans Light";*/
    font-weight: 300;
    margin-bottom: 3px;
}
.main-slider__subtitle {
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
}
/*-----------------------Конец блока "slider"------------------------*/

/*-----------------------Начало блока "content"------------------------*/
.container {
    padding-top: 38px;
    padding-bottom: 50px;
}
.content {
    margin-right: -7px;
    max-width: 77.25%;
}
.featured-product {
    margin-bottom: 20px;
}
.featured-product__items {
    padding-left: 3px;
}
.section-title {
    color: #635f57;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -0.24px;
}
.featured-product__title {
    margin-bottom: 17px;
}
.featured-product__item {
    margin-right: 25px;
    margin-bottom: 26px;
}
.product-item {
    width: 233px;
    box-shadow: 0 0 5px #eaeaea;
    border: 8px solid #ffffff;
    background-color: #ffffff;
    padding-bottom: 19px;
    position: relative;
    transition: 0.2s;
}
.product-item:hover {
    transform: scale(1.05,1.05);
}
.product-item__img {
    width: 217px;
    height: 229px;
    overflow: hidden;
    text-align: center;
    line-height: 0;
    font-size: 1px;
    vertical-align: middle;
    position: relative;
    z-index: 99;
}
.product-item__img::after {
    position: absolute;
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 100;
}
.product-item__img::before {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    content: "";
    height: 100%;
    width: 0;
    line-height: 0;
    font-size: 0;
}
.product-item__img img {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    text-align: center;
}
.product-item__descr {
    padding-left: 3px;
    margin-top: 8px;
    vertical-align: middle;
}
.product-item__text {
    vertical-align: middle;
    width: 157px;
}
.product-item__descr::after {
    line-height: normal;
    font-size: 1px;
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    width: 47px;
    height: 47px;
    content: "";
    background: url("../img/ico_add_busket.png") center center no-repeat;
}
.product-item__name {
    color: #464148;
    font-size: 14px;
    line-height: 22px;
}
.product-item__price {
    line-height: 22px;
    color: #7db122;
    font-size: 18px;
}
.product-item__price--sale {
    color: #464148;
    font-size: 14px;
    text-decoration: line-through;
}
.product-item--new::after {
    display: block;
    content: "";
    width: 97px;
    height: 94px;
    background: url("../img/ico_new.png") center center no-repeat;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 115;
}
.product-item--sale::after {
    display: block;
    content: "";
    width: 97px;
    height: 94px;
    background: url("../img/ico_sale.png") center center no-repeat;
    position: absolute;
    top: -12px;
    left: -12px;
    z-index: 115;
}
.staff-pick {
    margin-bottom: 29px;
}
.staff-pick__items {
    padding-left: 3px;
}
.staff-pick__title {
    margin-bottom: 17px;
}
.staff-pick__item {
    margin-right: 25px;
    margin-bottom: 26px;
}
.new-products__items {
    padding-left: 3px;
}
.new-products__title {
    margin-bottom: 22px;
}
.new-products__item {
    margin-right: 25px;
    margin-bottom: 26px;
}
/*-----------------------Конец блока "content"------------------------*/


/*-----------------------Начало блока "sidebar"------------------------*/
.sidebar {
    height: 100%;
    max-width: 22.75%;
    vertical-align: top;
    padding-top: 9px;

}
.sidebar__slider {
    height: 485px;
    box-shadow: 0 0 5px #eaeaea;
    border-top: 4px solid #4cb1ca;
    margin-bottom: 31px;
}
.aside-slider {
    position: relative;
}
.aside-slider__item {
    position: relative;
    text-align: center;
    height: 100%;
}
.aside-slider__img {
    overflow: hidden;
    padding-top: 28px;
}
.aside-slider__wrap {
    height: 441px;
    box-shadow: 0 0 5px #eaeaea;
    border: 13px solid #ffffff;

}
.aside-slider__title {
    width: 100%;
    text-align: center;
    color: #635f57;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -0.24px;
    position: absolute;
    left: 0;
    top: 4px;
    line-height: 31px;
}
.aside-slider__link {
    width: 132px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    background-color: #4cb1ca;
    color: #ffffff;
    font-size: 14px;
    transition: 0.3s;
}
.aside-slider__link:hover {
    background-color: #7eb123;
}
.aside-slider__link:active {
    position: relative;
    top: 1px;
    outline: none;
}
.aside-slider__link:visited {
    outline: none;
}
.aside-slider__btn {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 16px;
}
.subscribe {
    box-shadow: 0 0 5px #eaeaea;
    border-top: 4px solid #4cb1ca;
    background-color: #ffffff;
    padding: 17px 22px 31px;
}
.subscribe__title {
    text-align: center;
    color: #635f57;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.subscribe__descr {
    color: #696969;
    font-size: 14px;
    text-align: center;
    margin-bottom: 7px;
}
.subscribe__descr::after {
    vertical-align: middle;
    display: inline-block;
    content: "";
    width: 85px;
    height: 1px;
    background-color: #ededed;
}
.subscribe__form {
    text-align: center;
}
.subscribe__email {
    width: 185px;
    height: 29px;
    border: 1px solid rgba(198, 198, 198, 0.5);
    padding-left: 5px;
    margin-bottom: 18px;
}
.subscribe__email::placeholder {
    color: #b7b7b7;
}
.subscribe__email:focus::placeholder {
    color: transparent;
    transition: 0.2s;
}
.subscribe__btn {
    cursor: pointer;
    border: none;
    width: 112px;
    height: 44px;
    background-color: #7eb123;
    color: #ffffff;
    font-size: 14px;
    transition: 0.3s;
}
.subscribe__btn:hover {
    background-color: #4cb1ca;
}
.subscribe__btn:active {
    position: relative;
    top: 1px;
}
/*-----------------------Конец блока "sidebar"------------------------*/

/*-----------------------Начало блока "footer"------------------------*/
.footer__addition-info {
    width: 100%;
    background-color: #4cb1ca;
}
.footer__addition-info-wrap {
    padding: 21px 0 18px;
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    vertical-align: middle;
}
.footer__shipping, .footer__call-info {
    vertical-align: middle;
    width: 49%;
}
.footer__call-info {
    padding-left: 48px;
}

.footer__shipping-link {
    /*vertical-align: middle;*/
    /*margin-right: 14px;*/
    /*border-radius: 50%;*/
    /*width: 65px;*/
    /*height: 65px;*/
    /*background: #ffffff url("../img/ico_shipping.png") no-repeat center center;*/
    transition: 0.3s;
    color: #ffffff;
    /*border: 1px solid transparent;*/
}
.footer__shipping-link:hover::before {
    transform: scale(1.1,1.1);
    /*transform: translateY(-5px);*/
    border: 1px solid #7db122;
}
.footer__call-link:hover::before {
    transform: scale(1.1,1.1);
    /*transform: translateY(-5px);*/
    border: 1px solid #7db122;
}
.footer__call-link {
    /*border: 1px solid transparent;*/
    transition: 0.3s;
    color: #ffffff;
    /*vertical-align: middle;*/
    /*margin-right: 14px;*/
    /*border-radius: 50%;*/
    /*width: 65px;*/
    /*height: 65px;*/
    /*background: #ffffff url("../img/ico_phone.png") no-repeat center center;*/
}
.footer__shipping-link::before {
    border: 1px solid transparent;
    vertical-align: middle;
    transition: 0.3s;
    margin-right: 18px;
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: #ffffff url("../img/ico_shipping.png") no-repeat center center;
}
.footer__call-link::before {
    border: 1px solid transparent;
    transition: 0.3s;
    vertical-align: middle;
    margin-right: 12px;
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: #ffffff url("../img/ico_phone.png") no-repeat center center;
}
/*.footer__call-info a {*/
    /*color: #ffffff;*/
/*}*/
.footer__main {
    width: 100%;
    background-color: #39a0b9;
}
.footer__main-wrap {
    padding: 41px 0 53px;
    vertical-align: top;
}
.facebook-widget {
    max-width: 230px;
    vertical-align: top;
    margin-right: 4.98%;
}
.twitter-widget {
    max-width: 222px;
    vertical-align: top;
    margin-right: 6.65%;
}
.information {
    max-width: 186px;
    vertical-align: top;
    margin-right: 6.05%;
}
.contacts {
    max-width: 196px;
    vertical-align: top;
    margin-right: -6px;
}
.footer__title {
    color: #f5f5f5;
    font-size: 20px;
    text-transform: uppercase;
}
.facebook-widget__title {
    margin-bottom: 15px;
}
.twitter-widget__title {
    margin-bottom: 26px;
}
.information__title {
    margin-bottom: 23px;
}
.contacts__title {
    margin-bottom: 23px;
}
.facebook-widget__counter {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 1px;
}
.facebook-widget__likes {
    width: 47px;
    height: 23px;
    background: url("../img/ico_facebook_likes.png") center center no-repeat;
}
.facebook-widget__plugin-name {
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
    margin-top: 4px;
}
.facebook-widget__members {
    padding: 7px 0 3px;
    border-top: 1px solid #4cb1ca;
    border-bottom: 1px solid #4cb1ca;
    margin-right: -11px;
}
.facebook-widget__member-item {
    margin-right: 5px;
    margin-bottom: 6px;
    transition: 0.3s;
    line-height: 0;
    border: 1px solid transparent;
}
.facebook-widget__member-item:hover {
    border: 1px solid #7db122;
}
.facebook-widget__member-img--opposite {
    transform: scale(-1,1);
}
.twitter-widget__item {
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    line-height: 19px;
    max-height: 75px;
    margin-bottom: 26px;
}
.twitter-widget__item:last-child {
    margin-bottom: 0;
}
.twitter-widget__text {
    display: inline-block;
    max-width: 165px;
    overflow: hidden;
}
.twitter-widget__tag-link {
    color: #9ae2f4;
    transition: 0.3s;
}
.twitter-widget__tag-link:hover {
    color: #0b4b5a;
}
.twitter-widget__item::before {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    content: "";
    border-radius: 50%;
    width: 43px;
    height: 43px;
    background: #ffffff url("../img/ico_twitter.png") center center no-repeat;
}
.information__link {
    color: #ffffff;
    font-size: 13px;
    line-height: 24px;
    transition: 0.3s;
}
.information__link:hover {
    color: #9ae2f4;
}
.information__item::before {
    display: inline-block;
    content: "";
    width: 9px;
    height: 9px;
    background: url("../img/arrow_down.png") center center no-repeat;
    transform: rotateZ(-90deg);
    margin-right: 5px;
}
.contacts__socials {
    margin-top: 18px;
    padding-left: 3px;
}
.contacts__info {
    width: 100%;
    color: #ffffff;
    font-size: 13px;
    line-height: 24px;
    border-bottom: 1px solid #4cb1ca;
    padding-bottom: 9px;
    padding-left: 3px;
}
.socials__item {
    display: inline-block;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border-radius: 50%;
    margin-right: 5px;
}
.social-ico__google-plus {
    background: #ffffff url("../img/ico_google_plus.png") center center no-repeat;
}
.social-ico__linkedin {
    background: #ffffff url("../img/ico_linkedin.png") center center no-repeat;
}
.social-ico__rss {
    background: #ffffff url("../img/ico_rss.png") center center no-repeat;
}
.social-ico__facebook {
    background: #ffffff url("../img/ico_facebook.png") center center no-repeat;
}
/*-----------------------Конец блока "footer"------------------------*/