@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff'), url('../fonts/opensans.woff2');
    font-weight: 400;
}
/*-----------------------Начало "Общие стили"------------------------*/

/*[type="search"]::-webkit-search-decoration {*/
    /*-webkit-appearance: none;*/
/*}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
button, input {
    outline: none;
}
body {
    margin: 0;
    font-family: 'Open Sans', arial, sans-serif;
}
.template-width {
    max-width: 1024px;
    margin: 0 auto;
}
.inline-block {
    display: inline-block;
}
* {
    /*outline: 1px solid red;*/
}
.justify {
    line-height: 0;
    font-size: 1px;
}
.justify::after {
    display: inline-block;
    content: "";
    width: 100%;
    line-height: 0;
    height: 0;
    font-size: 0;
    margin-top: -1px;
    visibility: hidden;
    overflow: hidden;
}
/*-----------------------Конец "Общие стили"------------------------*/


/*-----------------------Начало блока "header__account-options"------------------------*/
.header__account-options {
    width: 100%;
    background: #4cb1ca;
}
.header__container {
    /*padding: 10px 0;*/
    text-align: justify;
}
.header__options {
    text-align: left;
    line-height: normal;
}
.options {
    max-width: 250px;
    font-size: 13px;
}
.header__account-menu {
    max-width: 360px;
    line-height: normal;
}
.options__languages {

}
.options__title {
    color: #bef2ff;
}
.account-menu {
    width: 100%;
    text-align: justify;
    font-size: 13px;
}
.account-menu__item {
    display: inline-block;
    text-align: center;
    padding: 15px 10px;
    /*margin-right: 12px;*/
    /*line-height: 11px;*/
    font-size: 13px;
    color: #ffffff;
    /*border-right: 1px solid #ffffff;*/
}
/*.account-menu__item::after {*/
    /*vertical-align: middle;*/
    /*display: inline-block;*/
    /*content: "";*/
    /*width: 1px;*/
    /*margin: 0 15px;*/
    /*height: 11px;*/
    /*background-color: #ffffff;*/
/*}*/
. {
    border-right: none;
}
/*-----------------------Конец блока "header__account-options"------------------------*/