@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff'), url('../fonts/opensans.woff2');
    font-weight: 400;
}
/*-----------------------Начало "Общие стили"------------------------*/

/*[type="search"]::-webkit-search-decoration {*/
    /*-webkit-appearance: none;*/
/*}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
button, input {
    outline: none;
}
body {
    margin: 0;
    font-family: 'Open Sans', arial, sans-serif;
}
.template-width {
    max-width: 1024px;
    margin: 0 auto;
}
.inline-block {
    display: inline-block;
}
* {
    /*outline: 1px solid red;*/
}
.justify {
    line-height: 0;
    font-size: 1px;
    text-align: justify;
}
.justify::after {
    display: inline-block;
    content: "";
    width: 100%;
    line-height: 0;
    height: 0;
    font-size: 0;
    margin-top: -1px;
    visibility: hidden;
    overflow: hidden;
}
/*-----------------------Конец "Общие стили"------------------------*/


/*-----------------------Начало блока "header__account-options"------------------------*/
.header__account-options {
    width: 100%;
    background: #4cb1ca;
}
.header__container {
    /*padding: 10px 0;*/
    text-align: justify;
}
.header__options {
    text-align: left;
    line-height: normal;
}
.options {
    max-width: 255px;
    font-size: 13px;
}
.options__choose-lang, .options__choose-currency {
    color: #ffffff;

}
.options__choose-lang {

}

.options__choose-lang::after, .options__choose-currency::after {
    padding-left: 5px;
    display: inline-block;
    content: "";
    width: 9px;
    height: 9px;
    background: url("../img/arrow_down.png") center bottom no-repeat;
}
.header__account-menu {
    max-width: 360px;
    line-height: normal;
}
.options__languages {
    padding-right: 19px;
}
.options__title {
    color: #bef2ff;
    padding-right: 2px;
}
.account-menu {
    width: 100%;
    text-align: justify;
    font-size: 13px;
}
.account-menu__item {
    text-align: center;
    font-size: 13px;
}
.account-menu__link {
    color: #ffffff;
    padding: 12px 10px;
}
/*.account-menu__item::after {*/
    /*vertical-align: middle;*/
    /*display: inline-block;*/
    /*content: "";*/
    /*width: 1px;*/
    /*margin: 0 15px;*/
    /*height: 11px;*/
    /*background-color: #ffffff;*/
/*}*/


/*-----------------------Конец блока "header__account-options"------------------------*/

/*-----------------------Начало блока "header__navigation"------------------------*/
.header__wrap {
    padding: 29px 0;
}
.header__logo {
    vertical-align: middle;
    line-height: normal;
    margin-right: 41px;
}
.logo {
    color: #656565;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    /*letter-spacing: -0.9px;*/
}
.header__nav {
    vertical-align: middle;
    line-height: normal;
    margin-right: 99px;
}
.top_nav__link {
    color: #656565;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.14px;
    padding: 9px 11px;
}
.header__search {
    line-height: normal;
    vertical-align: middle;
    margin-right: 8px;
}
.search__field {
    width: 174px;
    height: 29px;
    border: 1px solid #c6c6c6;
    background-color: #ffffff;
    color: #b7b7b7;
    font-size: 13px;
    padding-left: 10px;
}
.header__purchases {
    line-height: normal;
    width: 150px;
    vertical-align: middle;
}
.header__labels {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    background: url("../img/ico_labels.png") center center no-repeat;
}
.header__busket {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    background: url("../img/ico_busket.png") center center no-repeat;
    margin-right: 11px;
}
.header__busket-count {
    color: #656565;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.14px;
}
/*-----------------------Конец блока "header__navigation"------------------------*/
